
.text-black {
    color: #000;
}

.text-yellow {
    color: #ffc107;
}

.text-white {
    color: #ffffff;
}

.background-yellow {
    background-color: #ffc107;
}

.background-black {
    background-color: #000;
}
