.carouselH {
    max-height: 700px;
}

.PE-position {
    position: absolute;
    z-index: 2;
    margin: 150px;
  }

  .h-carousel {
      font-size: 3rem;
      color: #000;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #ffc107;
  }

  .p-carousel{
    color: #ffc107;
    font-size: 1.2rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
  }

  .btn-outline-warning{
    background-color: #fff;
    color: #000;
    border-color: #000;
  }

  @media(max-width: 768px){
    .PE-position {
      margin: 80px;
    }

    .h-carousel {
      font-size: 2rem;
    }

    .p-carousel{
      color: #ffc107;
      font-size: 0.8rem;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #000;
    }
  }